/* Réinitialisation des styles */
@import url('reset.css');

/*Animations */
@import url('Animations.css'); 



/* Général */

/* Définit la police par défaut de tout le site */
$font-family: 'Roboto', sans-serif;

/* Définit les variables de couleur */
:root {
  --dark-gray-bg-color: #EAEAEA;
  --dark-gray-writing-color: #353535;
  --light-gray-bg-color: #F6F6F6;
  --dark-purple-button: #9356DC;
  --ligth-purple-button: #FF79DA;
  --light-green : #99E2D0;
  --dark-green : #008766;
  --white : #FFF;
}

/* Définit des mixins qui seront réutilisées */

@mixin font($size, $weight, $line-height) {
  font-family: $font-family;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin flexbox($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin btnviolet {
  border: 0;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, var(--dark-purple-button) 0%, var(--ligth-purple-button) 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s, box-shadow 0.3s; /* Ajout de transitions */
}

.btnviolet {
  @include btnviolet;
}


body{
  overflow-x: hidden;
}

/*Header*/

.header {
  @include flexbox(row, center, center, nowrap);
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  &__logo{
    width: 52%;
    height: 36px;
    }
}
/* Location */

.location {
  background-color: var(--dark-gray-bg-color);
  width: 100%;
  height: 50px;
  @include flexbox(row, center, center, nowrap);
  gap: 17px;
  &__ville{
    color: var(--dark-gray-writing-color);
    @include font(16px, 500, normal);
  }
  &__icone{
    color: var(--dark-gray-writing-color);
    width: 12px;
    height: 16px;
  }
}

/* Réservation */

.reservation {
  @include flexbox(column, center, center, nowrap);
  background-color: var(--light-gray-bg-color);

  &__titre{
    @include flexbox(column, center, center, nowrap);
    text-align: center;
    width: 73%;
    min-height: 68px;
    flex-shrink: 0;
    margin-top: 40px;
    @include font(24px, 700, normal);
  }

  &__slogan{
    @include flexbox(column, center, center, nowrap);
    text-align: center;
    width: 84%;
    min-height: 46px;
    flex-shrink: 0;
    color: var(--dark-gray-writing-color);
    @include font(18px, 300, normal);
  }

  &__explorerbtn{
    width: 58%;
    height: 50px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-bottom: 50px;

    &--texte{
      color: var(--white, #FFF);
      text-align: center;
      @include font(16px, 500, normal)
    }

  }
}

/* Fonctionnement */

.fonctionnement{
  width : 100%;
  
  &__titre{
    @include font(24px, 700, normal);
    margin-left : 20px;
    margin-top : 48px;
    margin-bottom : 28px;
  }

  &__etapes{
    &__flexbox{
      @include flexbox(column,center ,center ,nowrap );
      gap : 25px;
      margin-top : 25px;
      margin-bottom : 68px;
    }
  }

  &__etape{
    width : 86%;
    min-height: 72.379px;
    border-radius: 20px;
    background: var(--dark-gray-bg-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    @include flexbox(row,center ,center ,nowrap );
    gap : 27px;
    position : relative; /* Pour positionner l'icone du chiffre */
    &__texte{
      @include font(16px, 500, normal);
      width : 56%;
    }
  }

  &__icone{
    width: 13.019px;
    height: 19.903px;
    color: var(--dark-gray-writing-color);
    &--violet{
      color : var(--dark-purple-button);
    }
  }
}


.fa-stack {
  position: absolute;
  left: -20px; /* Ajuster la valeur pour obtenir la position souhaitée */
  @include flexbox(row, center, center, nowrap);
  .fa-stack-2x {
    width: 24px;
    height: 24px;
    color : var(--dark-purple-button);
    left : auto;
    @include flexbox(row, center, center, nowrap);
  }
  .fa-stack-1x {
    @include font(14px, 500, normal);
    color: var(--white, #FFF);
    line-height: 24px;
    text-align: center;
  }
}


/* Restaurants */

.restaurants{
@include flexbox(column,center ,center ,nowrap );
background-color: var(--dark-gray-bg-color);
gap : 18px;
padding-bottom: 66px;
  &__title{
  @include font(24px, 700, normal);
  width : 90%;
  @include flexbox(row,start,center ,nowrap );
  margin-top: 54px;
}

  &__card{
    width : 90%;
    height  : 308px;
    border-radius: 15px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    position : relative;
    @include flexbox(column,center ,unset ,nowrap );

      &__redirection{
        text-decoration: none;
        color: inherit; 
        display: block;
        height: 100%;
      }

      &__texte{
        height : 77px;
        gap : 5px;
        padding : 16px 60px 12px 13px;
        @include flexbox(column,start ,unset ,nowrap );
      }

      &--titre{
        @include font(18px, 700, normal);
      }

      &--soustitre{
        @include font(18px, 300, normal);
      }

      &--image{
        width: 100%; 
        height: 231px; 
        object-fit: cover; 
        border-radius: 15px 15px 0 0;
      }

      &__nouveau{
        @include flexbox(row,center ,center ,nowrap );
        width: 80px;
        height: 29px;
        flex-shrink: 0;
        border-radius: 2px;
        background: var(--green, #99E2D0);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position : absolute;
        top : 19px;
        right : 12px;

        &__p{
          color: var(--dark-green, #008766);
          text-align: center;
          @include font(14px,500 ,normal);
        }
      }

      &__coeur{
        position : absolute;
        bottom : 33px;
        right : 25px;
      }
  }
}


/* Footer */

.footer{
@include flexbox(column,center ,flex-start ,wrap );
padding: 6% 7%;
gap: 16px;
background-color: var(--dark-gray-writing-color);
  &__logo{
    width: 139px;
    height: 27px;
    color : var(--white);
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__liensflexbox{
    @include flexbox(column,center ,flex-start ,wrap );
    gap : 7px;
    &--lien{
      color : var(--white);
      @include font(16px, 500, normal);
      @include flexbox(row,center ,flex-start ,wrap );
      gap : 11px;
      text-decoration: none;
    }
  }
}


/* CSS SPECIFIQUE PAGE DES RESTAURANTS */

/*Header*/

.headersecondaire {
  gap : 42px;
  height : 63px;
  position : relative;
  &__retourmenu{
    position : absolute;
    top : 10px;
    left : 10px;
  }
  &__flexbox{
    display : flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }
 }
 
/*Illustration*/ 


.illustrationrestaurant__image {
  width : 100%;
  height : auto;  /* Pas exactement demande de la maquette mais je trouve ca plus joli */
  max-height: 300px;
  z-index: -20;
  position: relative;
  object-fit: cover;
}

/*Flexboxprincipal*/ 

.pageflexbox{
  @include flexbox(column,center, center, nowrap);
  gap : 40px;
  background-color: var(--light-gray-bg-color);
  border-radius: 40px 40px 0px 0px;
  margin-top : -50px;
  padding-top: 32px;
}

/*Titre*/ 

.titrerestaurant{
  @include flexbox(row, start, center, nowrap);
  width : 91%;
  position : relative;
  &__titre{
    color: var(--black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: calc(100% - 40px);
  }
  &__coeur{
    width: 22px;
    height: 22px;
    font-size: 22px;
    position: absolute; 
    right: 5%; /* Marge de 11% à droite par rapport à l'écran */
  }
}


/*Recettes*/ 


.recettesflexbox{
  @include flexbox(column,center, center, nowrap);
  gap : 12px;
  width : 100%;
  &__titre{
    @include font(16px, 300, normal);
    width : 93%;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -5px; 
      left: 0;
      width: 40px;
      height: 3px;
      background: #99E2D0;
    }
  }
  &__recette{
    @include flexbox(column,center,start ,nowrap );
    width : 100%;
    gap : 5px;
    overflow : hidden;
    &--titre{
      @include font(18px, 500, normal);
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
    }
    &--descriptionetprix{
      @include flexbox(row,center,start ,nowrap );
      width : 100%;
      justify-content: space-between;
    }
    &--description{
      @include font(15px, 300, normal);
      width : 82%;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--prix{
      @include font(17px, 700, normal)
    }
    &__checkbox{
      height: 69px;
    }
  }
  &__checkbox{
    @include flexbox(row, space-between, start, nowrap);
    width: 93%;
    height: 69px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 15.043px;
    background: var(--white, #FFF);
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
    gap : 15px;
    overflow: hidden;
  }
}



.commande__btn {
  width: 58%;
  height: 50px;
  flex-shrink: 0;
  margin-top: 27px;
  margin-bottom: 50px;
  &--texte{
    color: var(--white, #FFF);
    text-align: center;
    @include font(16px, 500, normal);
  }
}

/* Responsive version ecran larges */

@media (min-width: 1023px) {

  .illustrationrestaurant__image {
    max-height: 500px;
}

.pageflexbox {
  width: 73%;
  margin-left : 13%;
}
.titrerestaurant {
  justify-content: center;
  width: 40%;
}

.recettesflexbox {
  width: 60%;
}

.footer{
  flex-direction : row;
  padding: 30px 25px;
  gap: 80px;
  justify-content : right;
  &__logo{
    order : 2;
    margin-right : 25px;
  }
  &__liensflexbox{
    flex-direction: row;
  }
  }


.header{
  height : 96px;
}

.reservation__titre{
  font-size: 40px;
}

.reservation__explorerbtn{
  width : 218px;
}

.fonctionnement {
  margin: auto;
  width: 75%;
  &__etapes{
    &__flexbox{
      flex-direction: row;
      justify-content: left;
      gap : 35px;
    }
  }
}

.restaurants{
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 12%;
  padding-right: 12%;
  gap : 100px;
  &__title{
    width : 100%;
  }
  &__card{
    min-width : 34%;
    max-width : 45%;
    margin-top : -50px;
  }
}

}
  